description = "Default layout"
==
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>{{ this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="{{ this.page.meta_description }}" />
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="web-rocket" />
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png' | theme }}">
    <link rel="shortcut icon" href="{{ 'assets/images/icon.png' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/normalize.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/transition-animations.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/animate.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | theme  }}" type="text/css">
    {% styles %}
    <script src="{{ 'assets/js/jquery-2.1.3.min.js' | theme}}"></script>
    <script src="{{ 'assets/js/modernizr.custom.js' | theme}}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    {% partial 'loading' %}
    <div id="page" class="page">
      {% partial 'header' %}
      {% page %}
    </div>
    <!-- Script includes--> 
    <script src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/page-transition.js' | theme }}"></script>
    <script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/validator.js' | theme }}"></script>
    <script src="{{ 'assets/js/jquery.shuffle.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/masonry.pkgd.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | theme }}"></script>
    <script src="{{ 'assets/js/jquery.hoverdir.js' | theme }}"></script>
    <script src="{{ 'assets/js/main.js' | theme }}"></script>
    {% framework extras %}
    {% scripts %}
  </body>
</html>